body{
    Background-color: rgb(12, 12, 112);
    color: white;
    
}

h1, h2{
    text-align: center;
    font-size: 3em;
    font-family: 'Press Start 2P';
}

#textoGanador{
    /*visibility: hidden;*/
    font-size: 3em;
    color:rgb(196, 69, 154);

}

#aplicacion{
    width: 100%;
    height: 100%;

}

#tablero{
    margin: auto;
    width: 600px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#tablero>button{
    width: 200px;
    height: 200px;
    max-width: 33.33%;
}

.menudesplegable {
    height: 100%; 
    width: 150px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    background-color: black; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
}

.menudesplegable ul {
    position: absolute; 
    top: 0px;
    width: 100%;
    display: block;
}

.menudesplegable li {
    padding-top: 10px;
    width: 100%;
    list-style-type: none;
}

.menudesplegable a {
    font-size: 15px;
    text-decoration: none;
    display: block;
}

.menudesplegable li :hover {
    background-color: grey;
}