body{
    Background-color: rgb(12, 12, 112);
    color: white;
    font-family:'Press start 2p'
}

h1, h2{
    text-align: center;
    font-size: 3em;
}

#textoGanador{
    /*visibility: hidden;*/

}

#aplicacion{
    width: 100%;
    height: 100%;

}

#tablero{
    margin: auto;
    width: 600px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#tablero>button{
    width: 200px;
    height: 200px;
    max-width: 33.33%;
}