#botonCerrarMenu {
    width: 20px;
    height: 20px;
    border: 0px;
    background-color: rgb(0, 0, 0);
}

#barra {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #212A5E;
}


#titulobarra {

    font-size: 1em;
    font-family: 'Press Start 2P';
    left: 40px;
    position: absolute;
    color: white;
}

#botones{
    padding-right: 10px;
}


.botonBarra{
    width: 25px;
    height: 25px;
    border: 0px;
    color: aliceblue;
    background-color: #040814;
    border-radius: 5px;

}

#botonMin {
    background-image: url('../src/icon_minimize.png');
    background-size: contain;
}

#botonMax {
background-image: url('../src/icon_maximize.png');
background-size: cover;
}

#botonCerrar {
    background-image: url('../src/icon_close.png');
    background-size: contain;
}


#botonMenu {
    /* background-image: ; */
    width: 25px;
    height: 25px;
    border: 0px;
    background-size: contain;
    background-color: #040814;
    color: aliceblue;
}
