*{
    outline: none;
    padding: 0px;
    background: none;
}


.barra {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    display: flex;
    justify-content:start;
    flex-direction: row;
    align-items: center;
    background-color: #a9afd674;
    z-index: 5;

}


.titulobarra {
    margin-left: 10px;
    -webkit-app-region:drag;
    font-size: 1em;
    font-family: 'Press Start 2P';
    
    text-align: left;
    color: white;
}

.botonBarra{
    width: 25px;
    height: 25px;
    border: 0px;
    color: aliceblue;
    margin: 0 3px;
    cursor: pointer;

}

.botonMenu {
    background-image: url(http://localhost:3000/source/home.png);
    height: 30px;
    width: 30px;
    background-size: cover;
}

.botonGoals{
    height: 20px;
    width: 20px;
    background-image: url(http://localhost:3000/source/trophy.png);
    background-size: cover;
}

.botonMin {
    background-image: url(http://localhost:3000/source/icon_minimize.png);
    background-size: contain;
}

.botonMax {
background-image: url(http://localhost:3000/source/icon_maximize.png);
background-size: cover;
}

.botonCerrar {
    background-image: url(http://localhost:3000/source/icon_close.png);
    background-size: contain;
}

.botones{
    position: absolute;
    right: 5px;
}
